h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.editor-layout{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border: 1px solid #2e2e2e;
}

